<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>832626427642-sqs7behkh6hspi4aldi1rc5b9kjpen3e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.832626427642-sqs7behkh6hspi4aldi1rc5b9kjpen3e</string>
	<key>API_KEY</key>
	<string>AIzaSyCUToTm0H92TGemxRstU9Gnmx8HvTQRliM</string>
	<key>GCM_SENDER_ID</key>
	<string>832626427642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-ddaae</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-ddaae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832626427642:ios:f60a5f32eeb24f17e62b43</string>
</dict>
</plist>